name: Renovate
on:
  workflow_dispatch:
  schedule:
    - cron: "0 9 * * 1-5"

jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          token: ${{ secrets.GH_BOT_TOKEN }}
      - name: Renovate
        uses: renovatebot/github-action@5712c6a41dea6cdf32c72d92a763bd417e6606aa # v44.0.5
        with:
          configurationFile: .github/renovate-config.js
          token: ${{ secrets.GH_BOT_TOKEN }}
        env:
          RENOVATE_AUTOMERGE: true
