name: renovate
on:
  workflow_dispatch:
  schedule:
    - cron: "0 9 * * 1-5"

jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          token: ${{ secrets.GH_BOT_TOKEN }}
      - name: Renovate
        uses: renovatebot/github-action@502904f1cefdd70cba026cb1cbd8c53a1443e91b # v44.1.0
        with:
          configurationFile: .github/renovate-config.js
          token: ${{ secrets.GH_BOT_TOKEN }}
        env:
          RENOVATE_AUTOMERGE: true
